* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}

a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Malgun Gothic", "맑은 고딕", arial, Dotum, 돋움, sans-serif;
}

button,
input,
select,
textarea {
  border-radius: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

ol,
ul {
  list-style: none;
}
