.area_links li {
  float: left;
  content: "|";
  color: #ccc;
  line-height: 10px;
  padding: 0 12px 0 4px;
  vertical-align: 1px;
}

.area_links ul {
  overflow: inherit;
  line-height: 17px;
}

.bg_box {
  padding: 43px 0 47px;
  margin: 26px 0 35px;
  background: #f3f3f3;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.blind {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: -1;
  width: 0;
  height: 0;
  top: -9999px;
  font-size: 0;
}

.btn {
  width: 85px;
  height: 35px;
  padding-right: 2px;
  line-height: 31px;
  margin-left: 3px;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.btn_blue {
  background: #3b4890;
  border-color: #29367c;
  text-shadow: 0px -1px #1d2761;
  color: #fff;
}

.btn_blue.small.btn_wfull {
  width: 100%;
  height: 35px;
  line-height: 33px;
  margin: 10px 0 0 0;
}

/* .btn_wfull {
  border-radius: 0;
  width: 100%;
  height: 41px;
  line-height: 39px;
  margin: 7px 0 0 0;
  font-size: 14px;
  overflow: hidden;
} */

.btn_grey {
  background: #666;
  border-color: #444;
  text-shadow: 0px -1px #474747;
  color: #fff;
}

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 13px;
  line-height: 14px;
}

/* .checkbox.type1 {
  padding: 23px;
} */

/* .checkbox input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
} */

.checkbox.type1 input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.con {
  padding: 58px 0 58px;
  margin: 0 auto;
}

.con.innerbox {
  width: 660px;
}

.con.innerbox .info_text {
  padding-left: 5px;
}

.con .title {
  font-size: 14px;
}

#container {
  width: 1050px;
  margin: 20px auto 0;
}

.content_box {
  margin: 25px 0 7px;
}

.content_box.border {
  min-height: 280px;
  border: 1px solid #cecdce;
  border-radius: 5px;
}

.content_head {
  height: 32px;
  vertical-align: top;
  border-bottom: 2px solid #29367c;
}

.copyright {
  width: 1050px;
  margin: 10px auto 0;
  text-align: center;
  letter-spacing: 0;
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #333;
}

.clear::after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

.fl {
  float: left;
}

.footer {
  clear: both;
  position: relative;
  padding-bottom: 50px;
  background: #fff;
  z-index: 15;
}

.form_box {
  width: 290px;
  margin: 0 auto;
}

.fr {
  float: right;
}

.head {
  position: relative;
  width: 1050px;
  height: 105px;
  margin: 0 auto;
}

.head_title,
.head_title a {
  color: #29367c;
  font-size: 14px;
  vertical-align: -3px;
}

.header.bg {
  background: #29367c;
}

.header.bg a {
  color: #fff;
}

.head.bg .logo {
  top: 30px;
}

.header.bg .head {
  height: 85px;
}

.info_policy {
  width: 1050px;
  margin: 0 auto 0;
  padding-top: 28px;
  text-align: center;
}

.info_policy a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 10px;
  vertical-align: -1px;
  background: #d7d7d7;
}

.int {
  width: 100%;
  height: 35px;
  padding: 0 9px 0 9px;
  line-height: 35px;
  border: 1px solid #cecdce;
  box-sizing: border-box;
  font-size: 14px;
  background: #fff;
  color: #555;
}

.int.bg {
  background: #f3f3f3;
}

.login_wrap .con_innerbox .info_text {
  padding-left: 13px;
  word-break: keep-all;
}

.login_wrap .footer {
  margin-top: 80px;
  border-top: 1px solid #29367c;
}

.logo {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  text-align: center;
}

.logo a {
  display: block;
  float: left;
}

.main_head {
  position: relative;
  width: 1050px;
  height: 105px;
  margin: 0 auto;
}
.page_head {
  height: 37px;
  margin-bottom: 3px;
  padding: 4px;
}

.page_head h2 {
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: -1px;
  margin: 2px 8px 0 3px;
  max-width: 420px;
  overflow: hidden;
  color: #29367c;
}

.paging_box {
  position: relative;
  text-align: center;
  line-height: 20px;
}

.paging_box a,
.paging_box em,
.paging_box span {
  display: inline-block;
  margin-left: 9px;
}

.paging_box em {
  text-decoration: underline;
  font-weight: bold;
}

.search {
  width: 295px;
  height: 31px;
  padding: 0 9px;
  border: 2px solid #333;
  background: transparent;
  outline: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.small {
  height: 31px;
  line-height: 29px;
  margin-left: 3px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.width868 .head,
.width868 #container,
.width868 .info_policy,
.width868 .copyright {
  width: 868px;
}
