.area_links {
  position: absolute;
  top: 9px;
  right: 0;
}

.area_links .area_nick {
  position: relative;
  z-index: 5000;
}

.area_links .btn_top_logout {
  display: inline-block;
  background: #3b4890;
  padding: 0 3px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  border: 1px solid #29367c;
  color: #fff;
  font-size: 11px;
  text-shadow: 0px -1px #1d2761;
}

.area_links li {
  float: left;
}

.area_links li::before {
  content: "|";
  color: #ccc;
  font-size: 10px;
  line-height: 10px;
  padding: 0 5px 0 4px;
  vertical-align: 1px;
}

.area_links li:last-child::before {
  content: "";
  font-size: 0;
  padding: 0 12px 0 0;
}

.area_links ul {
  overflow: visible;
  line-height: 17px;
}

.area_links .user_data_list > li {
  float: none;
  line-height: 25px;
}

.area_links .user_data_list > li::before {
  display: none;
}

.area_nick .btn_user_data {
  text-decoration: underline;
  font-weight: bold;
}

.area_nick .btn_user_data::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-left: 2px;
  vertical-align: 2px;
  background: url();
}

.bg_box {
  padding: 43px 0 47px;
  margin: 26px 0 35px;
  background: #f3f3f3;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.blind {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: -1;
  width: 0;
  height: 0;
  top: -9999px;
  font-size: 0;
}

.bottom_paging_box {
  position: relative;
  margin-top: 18px;
  text-align: center;
  line-height: 20px;
}

.bottom_paging_box a,
.bottom_paging_box em,
.bottom_paging_box span {
  display: inline-block;
  margin-left: 9px;
  font-size: 14px;
  font-weight: bold;
}

.bottom_paging_box em {
  text-decoration: underline;
  color: #d31900;
}

.btn {
  width: 85px;
  height: 35px;
  padding-right: 2px;
  line-height: 31px;
  margin-left: 3px;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.btn_blue {
  background: #3b4890;
  border-color: #29367c;
  text-shadow: 0px -1px #1d2761;
  color: #fff;
}

.btn_blue.small.btn_wfull {
  width: 100%;
  height: 35px;
  line-height: 33px;
  margin: 10px 0 0 0;
}

/* .btn_wfull {
  border-radius: 0;
  width: 100%;
  height: 41px;
  line-height: 39px;
  margin: 7px 0 0 0;
  font-size: 14px;
  overflow: hidden;
} */

.btn_grey {
  background: #666;
  border-color: #444;
  text-shadow: 0px -1px #474747;
  color: #fff;
}

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 13px;
  line-height: 14px;
}

/* .checkbox.type1 {
  padding: 23px;
} */

/* .checkbox input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
} */

.checkbox.type1 input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.con {
  padding: 58px 0 58px;
  margin: 0 auto;
}

.con.center {
  padding-top: 130px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #555;
}

.con.changeform_box {
  width: 693px;
  padding: 78px 0 73px;
  position: relative;
}

.con.innerbox {
  width: 660px;
}

.con.innerbox .info_text {
  padding-left: 5px;
}

.con .title {
  font-size: 14px;
}

#container {
  width: 1050px;
  margin: 20px auto 0;
}

.content_box {
  margin: 25px 0 7px;
}

.content_box.border {
  min-height: 398px;
  border: 1px solid #cecdce;
  border-radius: 5px;
}

.content_box.border.nomin {
  min-height: auto;
}

.content_head {
  height: 32px;
  vertical-align: top;
  border-bottom: 2px solid #29367c;
}

.copyright {
  width: 1050px;
  margin: 10px auto 0;
  text-align: center;
  letter-spacing: 0;
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #333;
}

.clear::after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.footer {
  clear: both;
  position: relative;
  padding-bottom: 50px;
  background: #fff;
  z-index: 15;
}

.form_box {
  width: 290px;
  margin: 0 auto;
}

.form_group {
  margin-top: 25px;
}

.form_group:first-of-type {
  margin-top: 0;
}

.form_group::after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

.form_text {
  width: 500px;
}

.form_title {
  width: 177px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.form_title,
.form_text {
  float: left;
}

.font_blue {
  color: #1034ff;
}

.font_red {
  color: #d31900;
}

.fr {
  float: right;
}

.head {
  position: relative;
  width: 1050px;
  height: 105px;
  margin: 0 auto;
}

.head_title,
.head_title a {
  color: #29367c;
  font-size: 14px;
  vertical-align: -3px;
}

.header.bg {
  background: #29367c;
}

.header.bg a {
  color: #fff;
}

.head.bg .logo {
  top: 30px;
}

.header.bg .head {
  height: 85px;
}

.id .form_text .int {
  float: left;
  width: 386px;
}

.info_policy {
  width: 1050px;
  margin: 0 auto 0;
  padding-top: 28px;
  text-align: center;
}

.info_policy a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 10px;
  vertical-align: -1px;
  background: #d7d7d7;
}

.inner_search {
  float: left;
  width: 313px;
  background: #fff;
  margin: 4px 0 0 4px;
}

.in_keyword {
  width: 295px;
  height: 38px;
  padding: 0 9px;
  border: none;
  background: transparent;
  outline: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.int {
  width: 100%;
  height: 35px;
  padding: 0 9px 0 9px;
  line-height: 35px;
  border: 1px solid #cecdce;
  box-sizing: border-box;
  font-size: 14px;
  background: #fff;
  color: #555;
}

.int.bg {
  background: #f3f3f3;
}

.int.pw_check {
  margin-top: 7px;
}

.join_wrap .footer,
.login_wrap .footer {
  margin-top: 80px;
  border-top: 1px solid #29367c;
}

.join_wrap .form_title,
.login_wrap .form_title {
  width: 193px;
}

.kcaptcha_box {
  position: relative;
  display: inline-block;
  height: 33px;
  border: 1px solid #cecdce;
  font-size: 0;
}

.kcaptcha_box .input_kcaptcha {
  display: inline-block;
  width: 95px;
  height: 33px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
  border: none;
  font-size: 14px;
  color: #555;
}

.kcaptcha_box .kcaptcha_img {
  display: inline-block;
  width: 125px;
  margin: 0;
  line-height: 0;
}

.kcaptcha_box .kcaptcha_img img {
  width: 125px;
  height: 33px;
}

.login_wrap .con.innerbox .info_text {
  padding-left: 13px;
  word-break: keep-all;
}

.login_wrap .withdraw .con.innerbox {
  width: 650px;
}

.logo {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  text-align: center;
}

.logo a {
  display: block;
  float: left;
}

.main_head {
  position: relative;
  width: 1050px;
  height: 105px;
  margin: 0 auto;
}

.main_search {
  width: 295px;
  height: 31px;
  padding: 0 9px;
  border: 2px solid #333;
  background: transparent;
  outline: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.mypage_wrap.width1160 #container {
  margin: 0 auto;
}

.option_sort .select_arraybox {
  background: #f3f3f3;
  padding: 0 19px 0 9px;
  margin-left: 0;
  font-size: 12px;
  color: #555;
}

.option_sort::after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

.page_head {
  height: 37px;
  margin-bottom: 3px;
  padding: 4px;
}

.page_head h2 {
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: -1px;
  margin: 2px 8px 0 3px;
  max-width: 420px;
  overflow: hidden;
  color: #29367c;
}

.page_menu a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 10px;
  vertical-align: -1px;
  background: #d7d7d7;
}

.paging_box {
  position: relative;
  text-align: center;
  line-height: 20px;
}

.paging_box a,
.paging_box em,
.paging_box span {
  display: inline-block;
  margin-left: 9px;
}

.paging_box em {
  text-decoration: underline;
  font-weight: bold;
}

.pw_rule .checkbox {
  display: block;
  padding-left: 0;
  line-height: 20px;
  color: #666;
}

.pw_rule .checkbox.on .chklbl::before {
  background-color: #4b58a7;
}

.pw_rule .chklbl {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.pw_rule .chklbl::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 3px;
  left: 0;
  background-color: #ccc;
  border-radius: 50%;
}

.pw_rule .chklbl::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 9px;
  top: 0;
  left: 0;
  margin: 7px 0 0 2px;
  border-radius: 50%;
}

.pw_rule .pw_step {
  margin-top: 7px;
}

.pw_rule .pw_tip {
  margin-top: 11px;
}

.pw_rule .step_title,
.pw_rule .tip_title {
  padding-left: 0;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.pw_step .impossible_text {
  padding: 0;
  margin-top: 8px;
  line-height: 18px;
  color: #d31900;
}

.select_area {
  position: relative;
  cursor: pointer;
}

.select_arraybox {
  float: none;
  display: inline-block;
  width: 55px;
  height: 19px;
  padding-left: 5px;
  border: 1px solid #ccc;
  margin-left: 4px;
  font-size: 11px;
  background: #fff;
  color: #333;
  line-height: 18px;
  vertical-align: 1px;
}

.select_box {
  position: relative;
  float: left;
}

.small {
  height: 31px;
  line-height: 29px;
  margin-left: 3px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.smallest {
  width: auto;
  height: 18px;
  line-height: 16px;
  padding: 0 4px;
  margin-left: 0;
  border: 1px solid;
  border-radius: 9px;
  font-size: 11px;
  font-weight: normal;
}

.step_box .btm_box {
  position: relative;
  width: 100%;
  height: 10px;
  overflow: hidden;
  background: #cfcfcf;
  font-size: 0;
  margin-top: 5px;
}

.step_box .btm_box .bar {
  position: absolute;
  width: 33.33%;
  height: 100%;
  top: 0;
}

.step_box .btm_box::after,
.step_box .btm_box::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.step_box .btm_box::after {
  right: 33.33%;
}

.step_box .btm_box::before {
  left: 33.33%;
}

.step_box.impossible .bar {
  background: #d31900;
  left: 0;
}

.step_box.normal .bar {
  background: #ff9933;
  left: 33.33%;
}

.step_box.safe .bar {
  background: #008140;
  right: 0;
}

.tip_deco_dot {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #333;
  font-size: 0;
  vertical-align: 4px;
  margin-right: 6px;
}

.tip_deco_dot.big,
.tip_deco_dot.red.big {
  width: 3px;
  height: 3px;
}

.tip_deco_dot.red {
  background: #d31900;
}

.tip_msgbox {
  clear: both;
  margin-top: 11px;
  font-size: 12px;
  color: #999;
  text-align: left;
}

.tip_msg.error {
  color: #d31900;
}

.user_data {
  position: absolute;
  z-index: 2;
}

.user_data_list {
  width: 98px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: left;
}

.width868 .head,
.width868 #container,
.width868 .info_policy,
.width868 .copyright {
  width: 868px;
}

.width1160 .head,
.width1160 #container,
.width1160 .info_policy,
.width1160 .copyright {
  width: 1160px;
}
