.content.login {
  margin: 205px auto 233px;
}

.id_checkbox .checkbox {
  float: left;
}

.id_checkbox {
  margin-top: 10px;
}

.id_checkbox .checkbox label {
  vertical-align: -10px;
}

.login_inputbox {
  float: left;
  background: #fff;
}

.login_inputbox .inner {
  width: 290px;
  padding: 25px 0 0 56px;
}

.login_inputbox .inner input,
.form_box input {
  margin-top: 7px;
}

.login_inputbox .int.bg {
  height: 41px;
  border: none;
  line-height: 41px;
}

.login_option {
  border-top: 1px dashed #aaa;
  margin-top: 16px;
  padding-top: 15px;
  text-align: center;
}

.login_option a {
  font-size: 14px;
  color: #000;
}

.login_option a::before {
  content: "|";
  display: inline-block;
  font-size: 13px;
  color: #d7d7d7;
  padding: 0 4px 0 1px;
  vertical-align: top;
}

.login_wrap .con.innerbox {
  width: 605px;
}

.login_wrap .con.innerbox .bg_box {
  margin-bottom: 0;
  padding: 46px 0 46px;
}

.login_wrap #container {
  margin-top: 37px;
}

.login_wrap .info_text {
  padding-top: 0;
  margin-top: 8px;
  color: #333;
  line-height: 22px;
}

.login_inputbox .inner input:first-of-type {
  margin-top: 20px;
}

.login_wrap .login_page {
  width: 700px;
  height: 348px;
  margin: 0 auto;
  border: 2px solid #29367c;
  border-radius: 3px;
}
